{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}
{% set active_page = "select" %}
{% block title %}Select Movie{% endblock %}
{% include 'nav.html' %}

{% block content %}
<div class="container">
    <h1 class="heading">Select Movie</h1>
  <p>
    MOVIE TITLE - MOVIE RELEASE DATE
  </p>
    <ul>
      {% for movie in session.pop('movies_list', []) %}
      <p>
        <a href="{{ url_for( 'selected', movie_id=movie[0]) }}">{{movie[1]}} - ({{movie[2]}})</a>
      </p>
      {% endfor %}
    </ul>
</div>
{% endblock %}